/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/ext_power.h>

// Shorthand aliases for complex mod-tap combinations
#define MEH LC(LA(LGUI))
#define MEH_EQ &mt_thumb MEH EQUAL
#define MEH_GR &mt_thumb MEH GRAVE
#define SH_ES &mt_thumb LSHFT ESC
#define SH_RE &mt_thumb RSHFT RET
#define CT_SP &mt_thumb RCTRL SPACE

/ {
        behaviors {
                // Home row mods with custom tapping term
                hml: homerow_mods_left {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        tapping-term-ms = <280>;
                        quick-tap-ms = <175>;
                        require-prior-idle-ms = <150>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <6 7 8 9 10 11 13 15 18 19 20 21 22 23 30 31 32 33 34 35 36 37 38 39 40 41>;
                        hold-trigger-on-release;
                };

                hmr: homerow_mods_right {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        tapping-term-ms = <280>;
                        quick-tap-ms = <175>;
                        require-prior-idle-ms = <150>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
                        hold-trigger-on-release;
                };

                // Layer-tap with balanced flavor
                lt_bal: layer_tap_balanced {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        tapping-term-ms = <200>;
                        quick-tap-ms = <175>;
                        bindings = <&mo>, <&kp>;
                };

                // Mod-tap for thumb keys
                mt_thumb: mod_tap_thumb {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        flavor = "balanced";
                        tapping-term-ms = <200>;
                        quick-tap-ms = <175>;
                        bindings = <&kp>, <&kp>;
                };
        };


        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                        if-layers = <1 2>;
                        then-layer = <4>;
                };
        };

        macros {
                // Tab navigation macros
                tab_fwd: tab_forward {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&kp LC(TAB)>;
                };
                tab_bck: tab_backward {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&kp LC(LS(TAB))>;
                };
                tab_cls: tab_close {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&kp LG(W)>;
                };
                nav_fwd: nav_forward {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&kp LG(RBKT)>;
                };
                nav_bck: nav_backward {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&kp LG(LBKT)>;
                };
                // Clipboard macros
                copy: copy_mac {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&kp LG(C)>;
                };
                cut: cut_mac {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&kp LG(X)>;
                };
                paste: paste_mac {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&kp LG(V)>;
                };
                undo: undo_mac {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&kp LG(Z)>;
                };
                redo: redo_mac {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&kp LG(LS(Z))>;
                };
                select_all: select_all_mac {
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings = <&kp LG(A)>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                colemak_layer {
                        display-name = "COLEMAK";
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L  |  U  |  Y  |  ;  |  '   |
// | ESC/S|  A  | R/C | S/A | T/G |  G  |   |  M  | N/G | E/A | I/C |  O  | ENT/S|
// | =/M  |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H  |  ,  |  .  |  /  | `/M  |
//                    | OSM | NUM | SPC/C|  | BSPC| SYM | OSM |
                        bindings = <
   &kp TAB  &kp Q  &kp W         &kp F         &kp P         &kp B          &kp J      &kp L         &kp U        &kp Y         &kp SEMI   &kp SQT
   SH_ES    &kp A  &hml LCTRL R  &hml LALT S   &hml LGUI T   &kp G          &kp M      &hmr RGUI N   &hmr RALT E  &hmr RCTRL I  &kp O      SH_RE
   MEH_EQ   &kp Z  &kp X         &kp C         &kp D         &kp V          &kp K      &kp H         &kp COMMA    &kp DOT       &kp FSLH   MEH_GR
                                 &sk LSHFT     &lt_bal 2 0   CT_SP          &kp BSPC   &lt_bal 1 0   &sk RSHFT
                        >;
                };

                sym_layer {
                        display-name = "SYM";
// -----------------------------------------------------------------------------------------
// |      |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  _  |  :  |  "   |
// |      |  <  |  {  |  [  |  (  |  |  |   |  \  |  )  |  ]  |  }  |  >  |      |
// |  =   |  ~  |  +  |  -  |  0  | LFT |   | RGT |  1  |  ,  |  .  |  /  |  `   |
//                    | SFT |     |     |   |     | SYM | SFT |
                        bindings = <
   &trans     &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT          &kp CARET   &kp AMPS   &kp ASTRK   &kp UNDER   &kp COLON   &kp DQT
   &trans     &kp LT     &kp LBRC   &kp LBKT   &kp LPAR   &kp PIPE           &kp BSLH    &kp RPAR   &kp RBKT    &kp RBRC    &kp GT      &trans
   &kp EQUAL  &kp TILDE  &kp PLUS   &kp MINUS  &kp N0     &kp LEFT           &kp RIGHT   &kp N1     &kp COMMA   &kp DOT     &kp FSLH    &kp GRAVE
                                    &kp LSHFT  &trans     &trans             &trans      &mo 1      &trans
                        >;
                };

                num_layer {
                        display-name = "NUM";
// -----------------------------------------------------------------------------------------
// | TAB  | EUR |HOME | UP  | END |PGUP |   |  *  |  7  |  8  |  9  |  +  |  R   |
// |      | SEL |LEFT |DOWN |RIGHT|PGDN |   |  =  |  4  |  5  |  6  |  -  |      |
// |  =   |UNDO | CUT |COPY |  .  |PASTE|   |  0  |  1  |  2  |  3  |  /  | DEL  |
//                    |LNUM | NUM |     |   |     |     | SFT |
                        bindings = <
   &kp TAB    &trans       &kp HOME   &kp UP     &kp END     &kp PG_UP          &kp KP_MULTIPLY  &kp N7   &kp N8      &kp N9   &kp PLUS    &kp R
   &trans     &select_all  &kp LEFT   &kp DOWN   &kp RIGHT   &kp PG_DN          &kp EQUAL        &kp N4   &kp N5      &kp N6   &kp MINUS   &trans
   &redo      &undo        &cut       &copy      &kp DOT     &paste             &kp N0           &kp N1   &kp N2      &kp N3   &kp FSLH    &kp DEL
                                      &mo 3      &mo 2       &trans             &trans           &trans   &kp RSHFT
                        >;
                };

                lnum_layer {
                        display-name = "LNUM";
// -----------------------------------------------------------------------------------------
// | TAB  |  +  |  9  |  8  |  7  |  *  |   |  R  |  7  |  8  |  9  |  +  |  *   |
// |      |  -  |  6  |  5  |  4  |  .  |   |  =  |  4  |  5  |  6  |  -  |      |
// |  =   |  /  |  3  |  2  |  1  |  0  |   |  0  |  1  |  2  |  3  |  /  | DEL  |
//                    | BSPC|LNUM |     |   |     |     | SFT |
                        bindings = <
   &kp TAB    &kp PLUS   &kp N9      &kp N8      &kp N7   &kp KP_MULTIPLY        &kp R       &kp N7   &kp N8      &kp N9   &kp PLUS     &kp KP_MULTIPLY
   &trans     &kp MINUS  &kp N6      &kp N5      &kp N4   &kp DOT                &kp EQUAL   &kp N4   &kp N5      &kp N6   &kp MINUS    &trans
   &kp EQUAL  &kp FSLH   &kp N3      &kp N2      &kp N1   &kp N0                 &kp N0      &kp N1   &kp N2      &kp N3   &kp FSLH     &kp DEL
                                     &kp BSPC    &mo 3    &trans                 &trans      &trans   &kp RSHFT
                        >;
                };

                nav_layer {
                        display-name = "NAV";
// -----------------------------------------------------------------------------------------
// | TAB  |CAPS |WH_L |MS_U |WH_R |WH_U |   |NAV_B|TAB_B|TAB_F|NAV_F|TAB_C| NAV  |
// |      | GUI |MS_L |MS_D |MS_R |WH_D |   |G+BTN| BTN1| BTN2| BTN3| ALT |      |
// |      |UNDO | CUT |COPY |     |PASTE|   | UTIL|     |     |     |     |      |
//                    | SFT |     |     |   |     |     | SFT |
                        bindings = <
   &kp TAB  &kp CAPS  &msc SCRL_LEFT    &mmv MOVE_UP      &msc SCRL_RIGHT   &msc SCRL_UP        &nav_bck  &tab_bck  &tab_fwd   &nav_fwd  &tab_cls  &to 4
   &trans   &kp LGUI  &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_RIGHT   &msc SCRL_DOWN      &mkp MB4  &mkp MB1  &mkp MB2   &mkp MB3  &kp RALT  &trans
   &trans   &undo     &cut              &copy             &trans            &paste              &to 5     &trans    &trans     &trans    &trans    &trans
                                        &kp LSHFT         &trans            &trans              &trans    &trans    &kp RSHFT
                        >;
                };

                util_layer {
                        display-name = "UTIL";
// -----------------------------------------------------------------------------------------
// |SOFOFF|BR_UP|PREV |VOL_U|NEXT |     |   |  0  | MAKE| FLSH|     |     |  0   |
// |      |BR_DN|PLAY |VOL_D|STOP |     |   |  0  |BTMOD|     |     |     |      |
// | CLR  |     |     |MUTE |     |     |   |  0  |BTTOG|     |     |     |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &soft_off   &kp C_BRI_UP  &kp C_PREV  &kp C_VOL_UP  &kp C_NEXT  &none          &to 0   &out OUT_TOG  &bt BT_PRV  &bt BT_NXT  &bt BT_CLR   &to 0
   &trans      &kp C_BRI_DN  &kp C_PP    &kp C_VOL_DN  &kp C_STOP  &none          &to 0   &none    &none   &none   &none   &trans
   &sys_reset  &none         &none       &kp C_MUTE    &none       &none          &to 0   &none    &none   &none   &none   &none
                                         &trans        &trans      &trans         &trans  &trans        &trans
                        >;
                };
        };
};

