/ {
    soft_off_wakeup_sources {
        compatible = "zmk,soft-off-wakeup-sources";
        wakeup-sources = <&wakeup_key>;
    };

    wakeup_key: wakeup_key {
        compatible = "zmk,gpio-key-wakeup-trigger";
        status = "okay";
        gpios = <&pro_micro 4 GPIO_ACTIVE_HIGH>;  // Row 0 for position 11 (apostrophe key)
        extra-gpios = <&pro_micro 21 GPIO_ACTIVE_HIGH>;  // Column 5 on right side
        wakeup-source;
    };
};
